i {
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

i:hover {
    transition: 0.3s;
    color: rgb(0, 255, 0);
    cursor: pointer;
}

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
}

span {
    font-size: 15px;
}